@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #F5EBDA;
}

nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo a {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #482817;
}

.link a {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}

.link a:hover {
    color: var(--primary-color);
}

.link .nav-btn {
    padding: 0.5rem 2rem;
    color: #482817 !important;
    background-color: #9E845C;
    border-radius: 5px;
}

.link .nav-btn:hover {
    background-color: #AF6900;
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-container h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.5rem;
    color: var(--primary-color-dark);
    margin-bottom: 1rem;
}

.texto-1 {
    font-weight: 700;
}

.texto-2 {
    font-weight: 700;
    color: var(--primary-color);
}

.content-container p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.content-container form {
    display: flex;
    align-items: center;
}

.content-container input {
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    font-size: 0.8rem;
    outline: none;
    border: none;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.content-container button {
    width: fit-content;
    padding: 1rem;
    font-size: 0.8rem;
    white-space: nowrap;
    background-color: var(--primary-color);
    color: var(--white);
    outline: none;
    border: none;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}

.content-container button:hover {
    background-color: var(--primary-color-dark);
}

.image-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-content: center;
}

.image-container img {
    width: 100%;
    max-width: 170px;
    margin: auto;
    border-radius: 10px;
}

.image-container img:nth-child(1) {
    transform: translateY(70px);
}

.image-container img:nth-child(2) {
    transform: translateY(-70px);
}



@media (width < 900px) {
    .link a:not(.nav__btn) {
        display: none;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .content-container {
        text-align: center;
    }

    .content-container form {
        margin-right: auto;
        margin-left: auto;
    }

    .image-container {
        grid-area: 1/1/2/2;
    }

    .image-container img {
        transform: translateY(0) !important;
    }
}